@font-face {
    font-family: "Quentincaps-owxKz";
    font-weight: 400;
    src: url("Fonts/Quentincaps-owxKz.woff2") format("woff2");

}

body{
    background-image: url("images/stonewall_background.png");
    background-repeat: repeat;
    background-position: left top;
    background-size: 650px;
}

h1 {
    font-family: "Quentincaps-owxKz";
    font-weight: 400;
    font-size: 195px;
    color: tomato;
    text-align: center;
    letter-spacing: -15px;
    line-height: 1.08em;
    /* background-color: blue; */
    margin: 0%;
    display: block;
    /* float: left; */
}

div {
    /* background-color: blueviolet; */
    align-items: center;
    padding: 0%;
    padding-top: 2%;
    /* overflow: auto; */
    /* padding-right: 20%; */
    /* padding-left: 20%; */
    
}
.headerimg {
display: flex;
margin-left: auto;
margin-right: auto;
width: 40%;
justify-content: center;
/* size: 50%; */
/* float: left; */
/* padding-left: 70%; */
/* padding-bottom: -200px; */
}

.torch {
    /* float: left; */
    width: 10%;
    display: inline-block;
    height: 200px;
}
